a,
a:hover {
  text-decoration: none!important;
}
.highlight {
  color: #00c2ff!important;
}
.lingxin-font {
  font-family: 'Microsoft YaHei', 'YaHei WebFont', Verdana, Geneva, Tahoma, sans-serif, '宋体';
  font-weight: normal!important;
  font-style: italic;
}
.section {
  height: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
}
.section-title {
  font-size: 2.3em;
}
.splitter {
  margin: 2em  auto 2em;
}
.splitter img {
  margin: 0 auto;
}
.navTop {
  border: none!important;
  background: rgba(0, 0, 0, 0.4) !important;
  padding: 1em 0 .2em;
}
.navTop .navCenter a {
  background: none!important;
  padding: .6em .6em;
  font-size: 1.4em;
  color: #fff!important;
  position: relative;
  z-index: 2;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.navTop .navCenter a:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  opacity: .3;
  transform: scale(0);
}
.navTop .navCenter li:hover a:before,
.navTop .navCenter .active a:before {
  opacity: 0.1;
  transform: scale(1);
}
.navTop .navCenter li:hover a,
.navTop .navCenter .active a {
  color: #00c2ff!important;
}
.navTop .navRight a {
  font-size: 1.4em;
  color: #00c2ff!important;
}
.navTop .navRight a .phone {
  margin-left: .8em;
}
.home .slide,
.home .carousel-inner {
  height: 100%;
  width: 100%;
}
.home .slider1 {
  background: url(../img/banner13.jpg);
}
.home .slider2 {
  background: url(../img/banner07.jpg);
}
.home .slider3 {
  background: url(../img/banner05.jpg);
}
.home .slider4 {
  background: url(../img/banner10.jpg);
}
.home .slider5 {
  background: url(../img/banner02.jpg);
}
.home .item {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
.home .item h1 {
  font-size: 5em;
}
.home .item h3 {
  font-size: 4em;
}
.home .carousel-indicators {
  bottom: 20%!important;
}
.home .carousel-caption {
  bottom: 30%!important;
}
.home .carousel-control .fa {
  font-size: 6em;
  margin-top: 30% !important;
}
.about {
  background: url(../img/banner03.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .nav-tabs {
  margin-bottom: 3em;
  border: none;
}
.about .nav-tabs a,
.about .nav-tabs a:hover {
  background: rgba(0, 194, 255, 0.4);
  color: #bbb;
  position: relative;
  margin-right: .2em;
  border: none!important;
  border-radius: 0;
  padding: .8em 1em;
}
.about .nav-tabs .active a:before {
  display: block;
  content: '';
  position: absolute;
  border-style: solid;
  border-width: .6em;
  border-color: rgba(0, 194, 255, 0.7) transparent transparent;
  width: 0;
  height: 0;
  left: 35%;
  bottom: -1.1em;
}
.about .nav-tabs .active a {
  background: rgba(0, 194, 255, 0.7) !important;
  color: #fff!important;
}
.about .tab-content {
  color: white;
}
.about .tab-content .h4 {
  font-size: 1.4em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin: 1em 0;
}
.about .tab-content .text-info {
  color: #00c2ff!important;
}
.service {
  background: url(../img/banner11.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.service_item {
  display: block;
  padding: 1em 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.service_item h3 a {
  color: #fff;
  font-size: 1.2em;
}
.service_item p {
  position: absolute;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background-color: rgba(0, 194, 255, 0.85);
  color: #fff;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.service_item:hover p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.service_item .fa {
  font-size: 3em;
}
.solution {
  background: url(../img/banner09.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.client {
  background: url(../img/banner04.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.client .container {
  padding-top: 8em;
}
.client .client-img {
  margin-bottom: .5em;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.client .client-img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.contact {
  background: url(../img/banner01.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.contact .leftInfo {
  line-height: 2.5em;
}
.contact .leftInfo p a,
.contact .leftInfo p a:hover {
  color: #fff;
  text-decoration: underline!important;
}
.contact .leftInfo .btn {
  display: block;
  margin-bottom: .6em;
  font-size: 1.2em;
  border-radius: 0;
  border: 1px dashed white;
}
.contact .img-responsive {
  margin: 0 auto .8em;
}
@media (max-width: 768px) {
  body {
    font-size: 10px!important;
  }
  .navbar-header img {
    width: 55%;
  }
  .carousel-control {
    padding-top: 80%;
  }
  .carousel-control .fa {
    font-size: 3em!important;
  }
  .item h3 {
    font-size: 2em!important;
  }
  .item h1 {
    font-size: 3.5em!important;
  }
  .item .carousel-caption {
    bottom: 35%!important;
  }
  .service_item {
    text-align: left;
    padding: 0 0 0 5em!important;
  }
  .service_item h3 {
    display: inline-block;
    margin-left: 1em;
    font-size: 1.2em!important;
  }
  .service_item:hover {
    background: #00C2FF;
  }
  .service_item:hover .fa {
    color: #fff!important;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  body {
    font-size: 12px!important;
  }
  .carousel-control {
    padding: 60% 0;
  }
  .navbar-header {
    width: 30%;
  }
  .navCenter {
    margin-left: 1em!important;
  }
  .navCenter {
    margin-top: .6em!important;
  }
  .service_item {
    text-align: left;
    padding: 0 0 0 15em!important;
    margin-bottom: .5em;
  }
  .service_item h3 {
    display: inline-block;
    margin-left: 1em;
  }
  .service_item:hover {
    background: #00C2FF;
  }
  .service_item:hover .fa {
    color: #fff!important;
  }
  .client .col-md-3 {
    margin-bottom: .5em;
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
  .navCenter {
    margin-left: 10%!important;
  }
  .navCenter li {
    padding: 0 .3em;
  }
  .navCenter,
  .navRight {
    margin-top: .8em!important;
  }
  .carousel-control {
    padding: 18% 0;
  }
  .service_item {
    height: 10em;
    margin-bottom: 3em;
  }
}
.fullScreen {
  padding-top: 10em;
}
